<div class="container">
  <div class="box">
    <div class="row title" style="color: blanchedalmond">
      <h3>Listado de resultados</h3>
    </div>
    <div class="row">
      <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">Jugador</th>
            <th scope="col">Adivina el número (Aciertos)</th>
            <th scope="col">Agilidad mental(Aciertos)</th>
            <th scope="col">Anagrama(Aciertos)</th>
            <th scope="col">Piedra, Papel o Tijera(Victorias)</th>
            <th scope="col">TaTeTi(Victorias)</th>
            <th scope="col">Unir Palabras (Cantidad de Movimientos)</th>
            <th scope="col">Menotest (Cantidad de Movimientos)</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of usuarios">
            <th scope="row">{{ user.data.nombre }}</th>
            <td>{{ user.data.puntajes.adivina }}</td>
            <td>{{ user.data.puntajes.agilidad }}</td>
            <td>{{ user.data.puntajes.anagrama }}</td>
            <td>{{ user.data.puntajes.ppt }}</td>
            <td>{{ user.data.puntajes.tateti }}</td>
            <td>{{ user.data.puntajes.unirPalabras }}</td>
            <td>{{ user.data.puntajes.memotest }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
