.myAnimal {
  width: 100px;
  height: 100px;
  color: white;
  border-radius: 50%;
  line-height: 100px;
  text-align: center;
  cursor: pointer;
}

.left {
  background-color: #68ad68;
}

.right {
  background-color: #a83295;
}

.selected {
  background-color: grey;
}
