<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/Principal"><i class="fa fa-home"></i></a>
  <a class="navbar-brand" routerLink="/Juegos"><i class="fa fa-list"></i></a>
  <form class="form-inline my-2 my-lg-0">
    <button
      class="btn btn-primary my-2 my-sm-0"
      title="Desconectarse"
      (click)="logOut()"
    >
      <i class="fa fa-sign-out"></i>
    </button>
    <button class="btn btn-primary my-2 my-sm-0">
      <i class="fa fa-cog"></i>
    </button>
  </form>
</nav>
